In [1]:
import pandas as pd
import numpy as np

tennis = pd.read_csv('play_tennis.csv')
tennis

    day   outlook  temp humidity    wind play
0    D1     Sunny   Hot     High    Weak   No
1    D2     Sunny   Hot     High  Strong   No
2    D3  Overcast   Hot     High    Weak  Yes
3    D4      Rain  Mild     High    Weak  Yes
4    D5      Rain  Cool   Normal    Weak  Yes
5    D6      Rain  Cool   Normal  Strong   No
6    D7  Overcast  Cool   Normal  Strong  Yes
7    D8     Sunny  Mild     High    Weak   No
8    D9     Sunny  Cool   Normal    Weak  Yes
9   D10      Rain  Mild   Normal    Weak  Yes
10  D11     Sunny  Mild   Normal  Strong  Yes
11  D12  Overcast  Mild     High  Strong  Yes
12  D13  Overcast   Hot   Normal    Weak  Yes
13  D14      Rain  Mild     High  Strong   No

In [5]:
outlook = tennis.groupby(['outlook', 'play']).size()
temp = tennis.groupby(['temp', 'play']).size()
humidity = tennis.groupby(['humidity', 'play']).size()
wind = tennis.groupby(['wind', 'play']).size()
play = tennis.play.value_counts()

print(outlook)
print('===================')
print(temp)
print('===================')
print(humidity)
print('===================')
print(wind)
print('===================')
print('play')
print(play)

outlook   play
Overcast  Yes     4
Rain      No      2
          Yes     3
Sunny     No      3
          Yes     2
dtype: int64
===================
temp  play
Cool  No      1
      Yes     3
Hot   No      2
      Yes     2
Mild  No      2
      Yes     4
dtype: int64
===================
humidity  play
High      No      4
          Yes     3
Normal    No      1
          Yes     6
dtype: int64
===================
wind    play
Strong  No      3
        Yes     3
Weak    No      2
        Yes     6
dtype: int64
===================
play
Yes    9
No     5
Name: play, dtype: int64

In [9]:
pd.crosstab(tennis['outlook'], tennis['play'], margins = True)

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2